@import '../../styles/global.scss';

.main {
  max-width: 1440px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  position: sticky;
  top: 0;
}

.logo {
  background-color: $red;
  border-radius: 1px;
  font-weight: 900;
  font-size: 30px;
  color: #fff;
  padding: 5px 18px;
}

.nav-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  font-weight: 700;
  font-size: 18px;
  a {
    color: #fff;
    transition: ease-out 0.3s;
    &:hover {
      color: $pink;
    }
  }
}

.signup {
  border: 3px solid $pink;
  border-radius: 25px;
  padding: 9px 25px;
  position: relative;
  overflow: hidden;
  span {
    position: relative;
    z-index: 1;
  }
}

.signup:after {
  border-radius: 25px;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: $pink;
  transition: ease-out 0.3s;
}

.signup:hover {
  color: #fff !important;
}

.signup:hover::after {
  width: 100%;
}

.landing-content {
  padding-top: 70px;
  height: 300vh;
}

.main-text {
  padding-right: 120px;
  font-size: 90px;
  font-weight: 900;
  text-align: right;
  color: #fff;
  // filter: blur(10px);
}

.last-line {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@keyframes color_change {
  0% {
    background-color: $blue;
  }
  33% {
    background-color: $pink;
  }
  66% {
    background-color: $red;
  }
  100% {
    background-color: $blue;
  }
}

.record-shop {
  animation: color_change 3s step-end infinite;
  display: flex;
  align-items: center;
  color: $yellow;
  background-color: $blue;
  border-radius: 1px;
  height: 100px;
  padding: 0 5px;
  margin-left: 15px;
}

.try-now {
  font-size: 40px;
  font-weight: 700;
  color: $pink;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  span {
    transform: perspective(1px) translateZ(0);
    transition: transform 0.3s ease-out, color 0.1s ease-in;
  }
}

.try-now span:hover {
  transform: scale(1.1);
}

.try-now span:active {
  transform: scale(0.9);
  color: $yellow;
}

.more-info {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
  }
  svg {
    margin-left: 5px;
  }
}
