@import '../../styles/global.scss';

.main {
  background-color: rgba($color: $dark, $alpha: 0.6);
  height: 100%;
}

.landing-content {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.main-text {
  padding: 40px 20px;
  font-family: $bold;
  background: linear-gradient(-51deg, $blue 0%, #82498c 87%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-align: right;
}
.first-line {
  font-size: scale(150px);
  letter-spacing: -12px;
  margin: 0;
}
.second-line {
  font-size: scale(150px);
  letter-spacing: -12px;
  margin-top: -20px;
}

.third-line {
  font-size: scale(200px);
  letter-spacing: -16px;
  margin-top: -60px;
}

.lets-start {
  margin-top: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.start-btn {
  opacity: 1;
  border-radius: 100rem;
  border: 2px solid $blue;
  padding: 20px 40px;
  font-family: $bold;
  font-size: 20px;
  color: $light;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background-color: transparent;
  transition: font-size 0.1s, background-color 0.2s ease-in;
  cursor: pointer;
}

.start-btn:hover {
  background-color: $blue;
}

.start-btn:active {
  outline: none;
  font-size: 19px;
}

.start-btn:focus {
  outline: none;
}
