@import '../../../styles/global.scss';

.content {
  background-color: $dark;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-wrap {
  padding: 40px 0;
}

.title {
  font-size: scale(36px);
  font-family: $bold;
  color: $light;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-group {
  width: 650px;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
.label-wrap {
  width: 200px;
  text-align: right;
}
label {
  color: $light;
  font-family: $bold;
  font-size: scale(48px);
  text-align: right;
}

input {
  width: 400px;
  font-size: scale(48px);
  color: $light;
  font-family: $bold;
  background-color: transparent;
  border: none;
  border-bottom: solid 3px $light;
  transition: all 0.2s ease;
}

input:focus {
  border-bottom: solid 3px $blue;
  outline: none;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.enter-btn {
  color: $pink;
  font-family: $bold;
  font-size: scale(60px);
  background: transparent;
  border: none;
}

.error-msg {
  text-align: center;
  color: $yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-txt {
  width: 173px;
  padding: 10px;
  background-color: $yellow-lighter;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
