// COLORS

$pink: #ee67d8;
$blue: #0f35f7;
$red: #e9301c;
$yellow: #ffe607;
$black: #141415;
$light: #a1a1ac;
$grey: #424247;
$very-light: #e5e5e5;

$dark: #0f1112;
$row: #1e2224;
$row-hover: #303535;
$btn-hover: #8f949920;
$blue-dark: #3e62b5;
$yellow-lighter: #ffd23f20;
$green: #0ead69;
$green-lighter: #0ead6920;
$purple: #b8b8f3;

// FONTS

$regular: Rubik;
$bold: Helvetica-Bold;
$brand: AMVINYL;
