// COLORS
$pink: #ff5148;
$light: #dddddd;
$dark: #0f1112;
$row: #1e2224;
$black: #0b0c0c;
$grey: #9e9e9e;
$blue: #568aff;
$blue-dark: #3e62b5;
$yellow: #5e5937;
$purple: #b8b8f3;

// FONTS
$regular: Helvetica;
$bold: Helvetica-Bold;
$brand: AMVINYL;

// FUNCTIONS

@function scale($size) {
  $result: $size - ($size / 5);
  @return $result;
}
