// COLORS
$pink: #e06c75;
$light: #dddddd;
$dark: #0f1112;
$black: #0b0c0c;
$grey: #75787a;
$blue: #568aff;
$blue-dark: #3e62b5;
$yellow: #ebd949;
$purple: #b8b8f3;

// FONTS
$regular: Helvetica;
$bold: Helvetica-Bold;
$brand: AMVINYL;

// FUNCTIONS

@function scale($size) {
  $result: $size - ($size / 5);
  @return $result;
}
