@import '../../styles/global.scss';

.discogs-import {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $light;
  margin: 30px auto;
  padding: 30px;
}

.discogs-import .title {
  font-size: 15px;
}

.discogs-error {
  padding-top: 15px;
  color: $pink;
}

.import-field {
  width: 350px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.import-field label {
  font-family: $bold;
  font-size: 16px;
  color: $light;
}
.error-input {
  border: 1px solid $pink !important;
}

.import-field input {
  width: 100px;
  font-size: 14px;
  padding: 10px;
  color: $light;
  font-family: $bold;
  background-color: $row-hover;
  border: 1px solid $dark;
  border-radius: 5px;
}

.import-field input:focus {
  outline: none;
}

.import-btn {
  background-color: $blue-dark;
  color: $light;
  padding: 8px 15px;
  border-radius: 5px;
  font-family: $bold;
  font-size: 13px;
  transition: all 0.1s ease;
}

.import-btn:active {
  background-color: $blue;
}

.form {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.form-column {
  margin: 0 20px;
}

.form-group {
  color: $light;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 65px;
}

.form-group label {
  font-family: $bold;
  font-size: 15px;
  color: $light;
}

.form-group input {
  padding: 10px;
  width: 350px;
  font-size: 16px;
  color: $light;
  font-family: $bold;
  background-color: $row-hover;
  border: none;
  border-radius: 5px;
}
.form-group select {
  padding: 10px;
  font-size: 16px;
  color: $light;
  font-family: $bold;
  background-color: $row-hover;
  border: none;
  border-radius: 5px;
}

.form-group input:focus {
  outline: none;
}

.save-btn {
  margin-top: 30px;
  color: $blue;
  font-family: $bold;
  font-size: 35px;
  transition: all 0.1s ease-in;
}

.save-btn:hover {
  color: $blue-dark;
}

.save-btn-wrap {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
