@import '../../styles/global.scss';

.table-wrap {
  padding: 10px 50px;
}

table {
  width: 100%;
  color: $light;
  text-align: left;
  border-collapse: collapse;
}
tbody {
  background-color: $row;
}

.table-item {
  border: 0.3em solid $dark;
  cursor: pointer;
}

th {
  padding: 15px;
  color: $grey;
  text-transform: uppercase;
  font-size: 0.9em;
}

td {
  padding: 12px 10px;
}

td:first-child,
th:first-child {
  border-radius: 15px 0 0 15px;
}
td:last-child,
th:last-child {
  border-radius: 0 15px 15px 0;
}

.artwork {
  width: 2.5em;
}
