@import '../../styles/global.scss';

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-wrap {
  padding-top: 20px;
}

.title {
  font-size: scale(36px);
  font-family: $bold;
  color: $light;
}

form {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-group {
  width: 850px;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  padding-right: 50px;
}
.label-wrap {
  width: 350px;
  text-align: right;
}
label {
  color: $light;
  font-family: $bold;
  font-size: scale(40px);
  text-align: right;
}

input {
  width: 400px;
  font-size: scale(40px);
  color: $light;
  font-family: $bold;
  background-color: transparent;
  border: none;
  border-bottom: solid 3px $light;
  transition: all 0.2s ease;
}

input:focus {
  border-bottom: solid 3px $blue;
  outline: none;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.btn {
  color: $blue;
  font-family: $bold;
  font-size: scale(60px);
  background-color: transparent;
  border: none;
}

.btn:active {
  outline: none;
}

.error-wrap {
  display: flex;
  justify-content: center;
}

.hide {
  visibility: hidden;
}
.error-text {
  color: $yellow;
}
