@import './styles/global.scss';

html {
  height: 100%;
}
body {
  background: linear-gradient(179deg, $black 12%, $dark 17%, $dark 100%);
  margin: 0;
  padding: 0;
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
  color: $light;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.invisible {
  visibility: hidden;
}

@font-face {
  font-family: 'GrandStylus';
  src: local('GrandStylus'), url('./fonts/GrandStylus.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'AMVINYL';
  src: local('AMVINYL'), url('./fonts/AMVINYL.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'GrandStylus';
  src: local('GrandStylus'), url('./fonts/GrandStylus.ttf') format('truetype');
  font-weight: normal;
}
